<div class="image-fija">
    <div class="row">
        <h1>PRINCIPALES CLIENTES</h1>
        <div class="col-4">
            <ol>AEFIP (Seccional Mendoza)</ol>
            <ol>Aerotec Argentina</ol>
            <ol>AMPROS</ol>
            <ol>AOMA (Seccional Mendoza)</ol>
            <ol>APAS Cuyo</ol>
            <ol>Asoc. Gremial Empleados y ...</ol>
            <ol>ATE (Seccional Mendoza)</ol>
            <ol>ATSA (Filial Mendoza)</ol>
            <ol>Bonafide de la Quinta</ol>
            <ol>Camping El Pinar</ol>
            <ol>CEC Mendoza</ol>
            <ol>Cooperativa Elecctrica Rural Alto Verde y Alga</ol>
        </div>
        <div class="col-4 vertical-line ">
            <ol>Credito Mágico</ol>
            <ol>Day Light Distribuciones</ol>
            <ol>FADIUNC</ol>
            <ol>Farmacia del Rodeo</ol>
            <ol>Farmacia Tres de Mayo</ol>
            <ol>FOEVA</ol>
            <ol>Fortaleza SRL</ol>
            <ol>Gobierno de Mendoza</ol>
            <ol>HCD Guaymallén</ol>
            <ol>IDITS</ol>
            <ol>IDR</ol>
            <ol>Instituto la Sanidad</ol>
            <ol>IPV</ol>
            <ol>Municipalidades de Ciudad de Mendoza, General Alvear, Godoy Cruz, Guaymallén, Junín, Las Paz, Lavalle, Luján de Cuyo, Maipú, San Martín, San Rafael, Santa Rosa</ol>
            <ol>Oscar David Mayorista</ol>
        </div>
        <div class="col-4 vertical-line">
            <ol>SAT-SAID</ol>
            <ol>Sindicato Contratistas de Viñas y Frutales Mendoza </ol>
            <ol>Sindicato Frutas Frescas y Hortalizas de Cuyo</ol>
            <ol>Sindicato Unión Obrera de Estaciones de Servicios de Cuyo</ol>
            <ol>Sindicato Vendedores Diarios y Revistas de Mendoza</ol>
            <ol>SOEM Mendoza</ol>
            <ol>SOEVA Godoy Cruz</ol>
            <ol>SOEVA Maipú</ol>
            <ol>SOEVA San Carlos</ol>
            <ol>SOEVA San Rafael</ol>
            <ol>SUPEH (Filial Mendoza)</ol>
            <ol>Taller AutoDetalle</ol>
            <ol>Unión Obrera Ladrillera de la República Argentina</ol>
        </div></div>
</div>