<div class=" image-fija">
    <h1>PRINCIPALES CLIENTES</h1>
</div>
    <div class="row">
        <div class="col-4" style="text-align: center;">
            <ol>Aerotec Argentina</ol>
            <ol>Agencia Sergio</ol>
            <ol>AMPROS</ol>
            <ol>AOMA (Seccional Mendoza)</ol>
            <ol>Asoc. Gremial Empleados y Funcionarios del Poder Judicial de Mendoza</ol>
            <ol>Asoc. de Personal Jerárquico de la Industria del Gas Natural, Derivados y Afines</ol>
            <ol>ATSA (Filial Mendoza)</ol>
            <ol>Camping El Pinar</ol>
            <ol>CEC Mendoza</ol>
            <ol>Cooperativa de Electrificación Rural Alto Verde y Algarrobo Grande Ltda.</ol>
            <ol>Crédito Mágico</ol>
            <ol>Club Petroleros YPF</ol>
            <ol>Daylight Distribuciones</ol>
        </div>
        <div class="col-4 vertical-line ">

            <ol>FADIUNC</ol>
            <ol>Farmacia del Rodeo</ol>
            <ol>Farmacia Tres de Mayo</ol>
            <ol>FOEVA</ol>
            <ol>Fortaleza SRL</ol>
            <ol>Gobierno de Mendoza</ol>
            <ol>Instituto de Docencia, Investigación y Capacitación Laboral de la Sanidad</ol>
            <ol>IPV</ol>
            <ol>Librería Dorrego</ol>
            <ol>Mantra Luján</ol>
            <ol>Municipalidades (Ciudad de Mendoza, General Alvear, Godoy Cruz, Guaymallén, Junín, La Paz, Lavalle, Luján de Cuyo, Maipú, San Carlos, San Rafael, Santa Rosa)</ol>
            <ol>Oscar David Mayorista</ol>
        </div>
        <div class="col-4 vertical-line">
            <ol>Pampero Maipú / Luján</ol>
            <ol>SAT-SAID</ol>
            <ol>Sindicato Frutas Frescas y Hortalizas de Cuyo</ol>
            <ol>Sindicato Unión Obrera de Estaciones de Servicio de Cuyo</ol>
            <ol>Sindicato Vendedores Diarios y Revistas de Mendoza</ol>
            <ol>SOEVA Godoy Cruz</ol>
            <ol>SOEVA Guaymallén</ol>
            <ol>SOEVA Maipú</ol>
            <ol>SOEVA San Rafael</ol>
            <ol>SUPEH (Filial Mendoza)</ol>
            <ol>Taller AutoDetalle</ol>
            <ol>Unión Obrera Ladrillera de la República Argentina</ol>
            <ol>UPSA</ol>
            <ol>Victoria SRL</ol>
        </div>
</div>