<div class=" image-fija">
    <h1>CONTACTOS</h1>
</div>
<div class="container">
<div class="card shadow">
    <table>
        <tr>
            <td style="font-weight: bolder; font-style: oblique;">Teléfono </td>
            <td><a href="https://wa.me/2615091906" target="_blank"><img src="../../../../assets/whatsapp.png" alt="Logo whatsapp" class="logo"/> 261 509 1906</a></td>
        </tr>
        <tr>
            <td style="font-weight: bolder; font-style: oblique;">E-mail</td>
            <td><a href="mailto:fernandozarraga@yahoo.com.ar" target="_blank"><img src="../../../../assets/correo-electronico.png" alt="Logo Gmail" class="logo"/> fernandozarraga&#64;yahoo.com.ar</a></td>
        </tr>
        <tr>
            <td style="font-weight: bolder; font-style: oblique;">Redes</td>
            <td>
                <div class="row">
                    <div class="col-5">
                        <a href="https://www.facebook.com/fernandozarraga/?locale=es_LA" target="_blank"><img src="../../../../assets/facebook.png" alt="Logo Facebook" class="logo"/>  Facebook </a><br/>
                        <a href="https://twitter.com/fernandozarraga?lang=es" target="_blank"><img src="../../../../assets/medios-de-comunicacion-social.png" alt="Logo X" class="logo"/> X </a><br/>
                        <a href="https://www.instagram.com/fernando_zarraga?igsh=MWtqeWpjMjlyOTR3MA==" target="_blank"><img src="../../../../assets/instagram.png" alt="Logo Instagram" class="logo"/> Instagram </a><br/>
                        <a href="https://www.youtube.com/@FerZar1970" target="_blank"><img src="../../../../assets/youtube.png" alt="Logo youtube" class="logo"/> Youtube</a>
                    </div>
                    <div class="col-7" style="line-height: 1.5em;">
                        Fernando Zárraga<br/>
                        &#64;fernandozarraga<br/>
                        &#64;fernando_zarraga<br/>
                        &#64;FerZar1970
                    </div>
                </div>
              <!--
                < a href="https://www.facebook.com/fernandozarraga/?locale=es_LA" target="_blank"><img src="../../../../assets/facebook.png" alt="Logo Facebook" class="logo"/>  Fernando Zarraga</a><br/>
                <a href="https://www.instagram.com/fernando_zarraga?igsh=MWtqeWpjMjlyOTR3MA==" target="_blank"><img src="../../../../assets/instagram.png" alt="Logo Instagram" class="logo"/> Instagram &#64;fernando_zarraga</a><br/>
            --> 
                </td>
        </tr>
    </table> 

