.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em ;
    margin-bottom: 2em ;
min-height: 55vh;}

.card {
    width: auto;
    height: auto;
    background: rgb(236, 236, 236);
    border-radius: 10px;
    padding: 3em;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }
   
   .logo { 
    width: 1em;
   }

a, td {
    text-decoration: none;
    color: var(--color-text);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    font-size: 25px;

}

a {    
    margin: 3px;
    line-height: 1.5em;
}

h1 {
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

a:hover { 
    color: var(--color-primary);
}

.card:hover {
    box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
}