<div class="container">
<!--<a href="https://wa.me/2615091906" target="_blank">Teléfono y whatsapp 261-5091906</a>
<a href="mailto:fernandozarraga@yahoo.com.ar" target="_blank">E-mail fernandozarraga&#64;yahoo.com.ar</a>
<p>Redes:</p>
<a href="https://www.facebook.com/fernandozarraga/?locale=es_LA" target="_blank">Facebook Fernando Zarraga</a>
<a href="https://twitter.com/fernandozarraga?lang=es" target="_blank">Twitter &#64;fernandozarraga</a>
<a href="https://www.instagram.com/fernando_zarraga?igsh=MWtqeWpjMjlyOTR3MA==" target="_blank">Instagram &#64;fernando_zarraga</a>
<a href="https://www.youtube.com/@FerZar1970" target="_blank">Youtube &#64;FerZar1970</a>-->

<div class="card shadow">
    <h1>CONTACTOS</h1>
    <table>
        <tr>
            <td>Teléfono </td>
            <td><a href="https://wa.me/2615091906" target="_blank"><img src="../../../../assets/whatsapp.png" alt="Logo whatsapp" class="logo"/> 261-5091906</a></td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td><a href="mailto:fernandozarraga@yahoo.com.ar" target="_blank"><img src="../../../../assets/correo-electronico.png" alt="Logo Gmail" class="logo"/> fernandozarraga&#64;yahoo.com.ar</a></td>
        </tr>
        <tr>
            <td>Redes:</td>
            <td>
                <a href="https://www.facebook.com/fernandozarraga/?locale=es_LA" target="_blank"><img src="../../../../assets/facebook.png" alt="Logo Facebook" class="logo"/> Facebook Fernando Zarraga</a><br/>
                <a href="https://twitter.com/fernandozarraga?lang=es" target="_blank"><img src="../../../../assets/medios-de-comunicacion-social.png" alt="Logo X" class="logo"/> Twitter &#64;fernandozarraga</a><br/>
                <a href="https://www.instagram.com/fernando_zarraga?igsh=MWtqeWpjMjlyOTR3MA==" target="_blank"><img src="../../../../assets/instagram.png" alt="Logo Instagram" class="logo"/> Instagram &#64;fernando_zarraga</a><br/>
                <a href="https://www.youtube.com/@FerZar1970" target="_blank"><img src="../../../../assets/youtube.png" alt="Logo youtube" class="logo"/> Youtube &#64;FerZar1970</a></td>
        </tr>
    </table> 

