    <div class="row mision OP3">
        <div class="col-6 ">
            <h1>MISIÓN</h1>
        </div>
        <div class="col-6 text" > 
            <li> Brindar información actualizada y fidedigna</li>
            <li> Otorgar a la comunidad un servicio de excelencia, desarrollado de manera eficiente y confiable. </li>
            <li> Entretener</li>    
        </div>
    </div>
    <div class="row mision OP2">
        <div class="col-6 text ">
            <li>Ser referentes en el abordaje de contenidos periodísticos</li>
            <li> Ser fuente reproductora de contenidos de las actividades</li>
            <li> Ser marca registrada en el formato de programas originales. </li>
        </div>
        <div class="col-6">
            <h1>VISIÓN</h1>
        </div>
    </div>
    <div class="row mision OP1">
        <div class="col-6">
            <h1>VALORES</h1>
        </div>
        <div class="col-6 text">
            <li>Imparcialidad</li>
            <li>Objetividad</li>
            <li>Transparencia</li>
            <li>Efectividad del mensaje</li>
            <li>Servicio a la comunidad</li>
            <li>Independencia</li>
            <li>Creatividad</li>
            <li>Equidad</li>
            <li>Respeto</li>
            <li>Empatía</li>
            <li>Simpatía</li>
            <li>Estilo original</li>
        </div>
    </div>

