
    <div class="row mision OP3">
        <div class="col-5 ">
            <h1>MISIÓN</h1>
        </div>
        <div class="col-5 text" > 
            <ol>- Brindar información actualizada y fidedigna</ol>
            <ol>- Otorgar a la comunidad un servicio de excelencia, desarrollandolo de manera eficiente y confiable. </ol>
            <ol>- Entretener</ol>    
        </div>
    </div>
    <div class="row mision OP2">
        <div class="col-5 text ">
            <ol>Ser referentes en el aboradaje de contenidos del mundo laboral. </ol>
<ol>- Ser fuente reproductora de contenidos de las actividades</ol>
<ol>- Ser marca registrada en el formato de programas originales. </ol>
        </div>
        <div class="col-5">
            <h1>VISIÓN</h1>
        </div>
    </div>
    <div class="row mision OP1">
        <div class="col-6">
            <h1>VALORES</h1>
        </div>
        <div class="col-6 text">
            <ol>- Imparciaoldad</ol>
            <ol>- Objetividad</ol>
            <ol>- Transparencia</ol>
            <ol>- Efectividad del mensaje</ol>
            <ol>- Servicio a la comunidad</ol>
            <ol>- Independencia</ol>
            <ol>- Creatividad</ol>
            <ol>- Equidad</ol>
            <ol>- Respeto</ol>
        </div>
    </div>

