<div class="row">
    <div class="col-4 text-center">
        <img  src="../../../../assets/logo.png" class="logo"/>
    </div>
    <div class="col-4 text-center">
        <h1>AIRE DE TRABAJO</h1>
        <p>Toda la actualidad del mundo laboral para el trabajador y su entorno. Datos, informes, testimonios y entrevistas para estar bien informado.</p>

    </div>
    <div class="col-4 text-center">
        <p style="font-style: italic; font-size: 14px;">Lunes a viernes, de 10 a 12hs <br/>Por Radio Noticias Mendoza(FM 102.5)<br/>Por Radio Noticias Luján Maipú(FM 94.9)<br/>        <a href="www.radionoticiasmendoza.com">www.radionoticiasmendoza.com</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
        <img  src="../../../../assets/ID (Logo sin Fondo).png" class="logo"/>
    </div>
    <div class="col-4 text-center">
        <h1>INFORME DEPARTAMENTAL</h1>
        <p>La información de diario para los vecinos de los departamentos mendocinos.</p>

    </div>
    <div class="col-4 text-center">
        <p style="font-style: italic; font-size: 14px;">Lunes a viernes, de 11:50 y 17:50<br/>Por Radio Noticias Mendoza(FM 102.5)<br/>Por Radio Noticias Luján Maipú(FM 94.9)<br/><a href="www.radionoticiasmendoza.com">www.radionoticiasmendoza.com</a></p>
        <p></p>
        
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
        <img  src="../../../../assets/Aire de Vendimia.jpg" class="logo"/>
    </div>
    <div class="col-4 text-center">
        <h1>AIRE DE VENDIMIA</h1>
        <p>Toda las fiestas de la vendimia departamentales. El desafio de transmitir luz, sonido y color en cada emisión por la radio. </p>
    </div>
    <div class="col-4 text-center">
        <p style="font-style: italic; font-size: 14px;">Por Radio Nihuil Mendoza(AM 680 Y FM 98.9)<br/><a href="www.radionihuil.com.ar">www.radionihuil.com.ar</a></p>
        
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
        <img  src="../../../../assets/microfono.png" class="logo"/>
    </div>
    <div class="col-4 text-center">
        <h1>RADIO CLÁSICA</h1>
        <p>Las canciones que nunca pasaron de moda y quedan en nuestra historia de vida para siempre.</p>
    </div>
    <div class="col-4 text-center">
        <p style="font-style: italic; font-size: 14px;">Las 24 horas por: <br/><a href="">www.radioclasica.com</a></p>
        
    </div>
</div>
