.logo {
    width: 8em;
}

.logoV {
    width: 6em;
}

.logo1 {
    width: 10em;
}

.row {
    align-items: center;
    padding: 1em 0 1em 0;
    width: 100%;
    
}

.col-4 {
    padding: 0;
}

h1 {
    font-weight: bolder;
}

p{
    font-size: 16px;
}

@media only screen and (max-width: 1000px) {
    .logo {
        width: 5em;
    }

    .logo1 {
        width: 7em;
    }

    p {
        font-size: 10px;
    }

    .row{
        justify-content: space-between;
    }

    h1 { 
        font-size: 0.9em;
    }

    .col-4 {
        width: 30%;
    }

    .none {
        display: none;
    }
} 