<div class="row">
    <div class="col-4 text-center">
        <img  src="../../../../assets/logo.png" class="logo"/>
    </div>
    <div class="col-4 text-center">
        <h1>AIRE DE TRABAJO</h1>
        <p>Toda la actualidad del mundo laboral para el trabajador y su entorno. Datos, informes, testimonios y entrevistas para estar bien informado.</p>
    </div>
    <div class="col-4 text-center">
        <p style="font-style: italic; ">Lunes a viernes, 12hs <br/>Por Radio Noticias Mendoza (FM 100.1)<br/>        <a href="https://radionoticiasmendoza.com/" target="_blank" class="none">www.radionoticiasmendoza.com</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
        <img  src="../../../../assets/ID (Logo sin Fondo).png" class="logo" style="margin-top: 1.5em;"/>
    </div>
    <div class="col-4 text-center">
        <h1>INFORME DEPARTAMENTAL</h1>
        <p>La información de servicio diaria para los vecinos de los departamentos de Mendoza.</p>
    </div>
    <div class="col-4 text-center">
        <p style="font-style: italic;">Lunes a viernes, 10 y 14hs<br/>Por Radio Noticias Mendoza (FM 100.1)<br/><a href="https://radionoticiasmendoza.com/" target="_blank" class="none">www.radionoticiasmendoza.com</a></p>
        <p></p>
        
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
        <img  src="../../../../assets/aire-vendimia.png" class="logoV"/>
    </div>
    <div class="col-4 text-center">
        <h1>AIRE DE VENDIMIA</h1>
        <p>Todas las fiestas departamentales y los festejos centrales de la vendimia nacional están en la radio. El desafio de transmitir luz, sonido, color y las voces de los protagonistas en cada emisión. </p>
    </div>
    <div class="col-4 text-center">
        <p style="font-style: italic;">Diciembre 2024; enero y febrero 2025<br/>Por CNN Radio Mendoza (FM 93.9)<br/><a href="https://www.player.cnnradio.com.ar/Mendoza/" target="_blank" class="none">www.player.cnnradio.com.ar/Mendoza/</a></p>
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
        <img  src="../../../../assets/microfono.png" class="logo"/>
    </div>
    <div class="col-4 text-center">
        <h1>RADIO CLÁSICA</h1>
        <p>Las canciones que nunca pasaron de moda y quedan en nuestra historia de vida para siempre.</p>
    </div>
    <div class="col-4 text-center">
        <p style="font-style: italic" class="none">Próximamente</p>
    </div>
</div>


