<div class="row">
    <div class="col-4 text-center">
        <img  src="../../../../assets/logo.png" class="logo"/>
    </div>
    <div class="col-4 text-center">
        <h1>AIRE DE TRABAJO</h1>
        <p>Toda la actualidad del mundo laboral para el trabajador y su entorno. Datos, informes, testimonios y entrevistas para estar bien informado.</p>
        <p>Antigüedad: 16 años</p>
    </div>
    <div class="col-4 text-center">
        <p>Lunes a viernes, de 10 a 12hs</p>
        <p>Por Radio Noticias Mendoza(FM 102.5)</p>
        <p>Por Radio Noticias Malargue(FM 104.9)</p>
        <p>Por Radio Noticias Valle de Uco(FM 99s.9)</p>
        <a href="www.radionoticiasmendoza.com">www.radionoticiasmendoza.com</a>
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
        <img  src="../../../../assets/ID (Logo sin Fondo).png" class="logo"/>
    </div>
    <div class="col-4 text-center">
        <h1>INFORME DEPARTAMENTAL</h1>
        <p>La información de diario para los vecinos de los departamentos mendocinos.</p>
        <p>Antigüedad: 7 años</p>
    </div>
    <div class="col-4 text-center">
        <p>Lunes a viernes, de 11:50 y 17:50</p>
        <p>Por Radio Noticias Mendoza(FM 102.5)</p>
        <p>Por Radio Noticias Malargüe(FM 104.9)</p>
        <p>Por Radio Noticias Valle de Uco(FM 99s.9)</p>
        <a href="www.radionoticiasmendoza.com">www.radionoticiasmendoza.com</a>
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
        <img  src="../../../../assets/Aire de Vendimia.jpg" class="logo"/>
    </div>
    <div class="col-4 text-center">
        <h1>AIRE DE VENDIMIA</h1>
        <p>Toda las fiestas de la vendimia departamentales. El desafio de transmitir luz, sonido y color en cada emisión por la radio. </p>
        <p>Antigüedad: 2 años</p>
    </div>
    <div class="col-4 text-center">
        <p>Por Radio Nihuil Mendoza(AM 680 Y FM 98.9)</p>
        <a href="www.radionihuil.com.ar">www.radionihuil.com.ar</a>
    </div>
</div>
<div class="row">
    <div class="col-4 text-center">
        <img  src="" class="logo"/>
    </div>
    <div class="col-4 text-center">
        <h1>RADIO CLÁSICA</h1>
        <p>Las canciones que nunca pasaron de moda y quedan en nuestra historia de vida para siempre.</p>
    </div>
    <div class="col-4 text-center">
        <p>Las 24 horas por: </p>
        <a href="">www.radioclasica.com</a>
    </div>
</div>
