.container { 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60%;
}


.image-fija {
    background-image: url('../../../../assets/radio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 13em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1{
    font-weight: 400;
    font-size: 40px;
  }

.col-6 {
    display: flex;
    justify-content: center;
}

td {
    padding: 1em !important;
    font-size: 20px;
    color: #424242;
}

.title {
  color: #2E57A6;
  font-weight: bolder;
  font-size: 22px;
}




