<div class=" image-fija">
    <h1>NUESTRO EQUIPO</h1>
</div>
<div class="containerSomos">
    <div class="col-6">
        <table>
            <tr>
                <td style="font-weight: 600;"><p class="title">Dirección general:</p></td>
                <td>Fernando Zárraga (Licenciado en Comunicación Social. Técnico Superior en Locución. Periodista)</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Dirección comercial:</p></td>
                <td>Fernando Zárraga</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Operación técnica:</p></td>
                <td>Marcelo Casto (Radio Noticias)<br/>Marcelo Escudero (Radio Nihuil)</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Operación técnica (exterior):</p></td>
                <td>Daniel Reboredo<br/>JonatHan Pesci<br/>Gustavo Tello</td>
            </tr>
        </table>
    </div>
    <div class="col-6" >
        <table>  
            <tr>
                <td style="font-weight: 600;"><p class="title">Colaboradores periodísticos:</p></td>
                <td>Natalia Tisera<br/>Cristian Morón<br/>Marcelo Ripari</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Redes:</p></td>
                <td>Paola Escudero <br/>Fernando Zárraga</td>
            </tr>          
            <tr>
                <td style="font-weight: 600;"><p class="title">Desarrollo web:</p></td>
                <td>Deploy Desarrollo Web</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Diseño logos:</p></td>
                <td>Mariana Ferreyra<br/>Bruno Zárraga</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Locución:</p></td>
                <td>Fernando Zárraga</td>
            </tr>
        </table>
    </div>
</div>

