<div class=" image-fija">
    <h1>QUIÉNES SOMOS</h1>
</div>
<div class="containerSomos row">
    <div class="col-6">
        <table>
            <tr>
                <td style="font-weight: 600;"><p class="title">Dirección general:</p></td>
                <td>Fernando Zárraga (Lic. en Comunicación Social - Técnico Superior en Locución)</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Dirección comercial y periodística:</p></td>
                <td>Fernando Zárraga</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Operación técnica:</p></td>
                <td>Marcelo Castro (Radio Noticias)</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Operación técnica (exteriores):</p></td>
                <td>PR Producciones</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <table>  
            <tr>
                <td style="font-weight: 600;"><p class="title">Colaboradores periodísticos:</p></td>
                <td>Natalia Tisera<br/>Marcelo Ripari<br/>Vicente Calisaya<br/> Nicolás González Perejamo<br/>  Edgardo Juchniuk <br/>  Martín Caín Luis Jofré</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Redes:</p></td>
                <td>Paola Escudero <br/>Fernando Zárraga</td>
            </tr>          
            <tr>
                <td style="font-weight: 600;"><p class="title">Diseño web:</p></td>
                <td>Deploy Desarrollo Web</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Diseño logos:</p></td>
                <td>Mariana Ferreyra<br/>Bruno Zárraga</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Locución:</p></td>
                <td>Fernando Zárraga <br/>Gabriela Sosa <br/> Darío Peñaloza<br/> Walter López</td>
            </tr>
        </table>
    </div>
</div>

