<div class=" image-fija">
    <h1>NUESTRO EQUIPO</h1>
</div>
<div class="container">
    <div class="col-6">
        <table>
            <tr>
                <td style="font-weight: 600;"><p class="title">Dirección general:</p></td>
                <td>Fernando Zárraga (Licenciado en Comunicación Social. <br/>Técnico Superior en Locución.<br/> Periodista)</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Dirección Comercial:</p></td>
                <td>Fernando Zárraga</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Operación Técnica:</p></td>
                <td>Marcelo Casto (Radio Noticias)<br/>Marcelo Escudero (Radio Nihuil)</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Operación Técnica (exterior):</p></td>
                <td>Daniel <br/>Jonatan <br/>Gustavo Tello</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <table>  
            <tr>
                <td style="font-weight: 600;"><p class="title">Colaboradores periodísticos:</p></td>
                <td>Marcelo Ripari<br/>Natalia Tisero<br/>Cristian Morón</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Redes:</p></td>
                <td>Fernando Zárraga</td>
            </tr>          
            <tr>
                <td style="font-weight: 600;"><p class="title">Desarrollo web:</p></td>
                <td>Deploy</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Diseño logos:</p></td>
                <td>Mariana Ferreyra<br/>Bruno Zárraga</td>
            </tr>
            <tr>
                <td style="font-weight: 600;"><p class="title">Locución:</p></td>
                <td>Fernando Zárraga</td>
            </tr>
        </table>
    </div>
</div>

