<div class="container">
    <p>En 2007 arrancamos con nuestro primer producto independiente, <strong>Aire de Trabajo</strong>, en LV8 Radio Libertador Mendoza. A partir de allí dejamos la "comodidad" del ingreso fijo y comenzamos a salir a la calle, a gestar un producto propio y original.</p>

    <p>Con el comienzo de la nueva década apostamos por otro producto original: Aire de Vendimia, las transmisiones de las Fiestas Departamentales de la Vendimia en radio, un desafío novedoso por lo que significa la oralidad en un espectáculo visual por definición. Comenzamos en Radio Libertador, pasamos por Radio Noticias Mendoza, y, más recientemente llegamos a Radio Nihuil y, en la actualidad, a CNN Radio Mendoza.</p>

    <p>En 2017 sumamos <strong>Informe Departamental</strong> con el apoyo de municipios que apostaron por la efectividad de la información de servicio en un nuevo y práctico formato.</p>

    <p>En 2018 nos dedicamos de lleno a las producciones independientes, ya con el formato de Productores: ampliamos contenidos y nos expandimos en ventas a toda la provincia e incluso al ámbito nacional.</p>

    <p>En 2020 nos sorprendió la pandemia y nos hizo pisar el freno y repensar. Gestionamos algunos otros productos en 2020/21: <strong>Mañana Total</strong>, en Radio Noticias; y <strong>La Deportiva Digital</strong>, un PDF semanal con toda la info deportiva de Mendoza, de distribución telefónica gratuita. En 2022 retomamos las transmisiones de las vendimias departamentales (<strong>Aire de Vendimia - Sentí Vendimia</strong>) en Radio Nihuil.</p>

    <p>En Radio Nihuil, en 2023, experimentamos en el horario nocturno con <strong>Hasta la Medianoche</strong>  (en verano) y <strong>Noche de Radio</strong> (en el resto del año). En 2024 ideamos para Radio Noticias <strong>La mañana en Noticias</strong>, un programa periodístico de larga duración con noticias, comentarios, música y bloques especiales.</p>

    <p>También el año pasado comenzamos a darle forma a <strong>Radio Clásica</strong>, recopilando las canciones que más nos gustan y que están en nuestro chip eterno. Muy pronto estará on line.</p>

    <p>Para 2025 estamos llenos de entusiasmo: de continuar lo bueno, de perfeccionar lo que se debe, y de innovar. ¡Que Dios nos dé la sabiduría para hacerlo bien!</p>
</div>