<div class="container">
    <h1>NUESTRA HISTORIA</h1>
    <p>En 2007 arrancamos con nuestro primer producto indepediente, Aire de Trabajo, en LV8 Radio Libertador Mendoza. </p>  
    <div class="row">
        <div class="col-6 vertical-line">
            <p style="font-style: italic;">A partir de ahí dejamos la "comodidad" del sueldo y comenzamos a sentar a la calle, a gestar un producto propio y original, no ideado por ningún medio.</p>
        </div>
        <div class="col-6">
                <img src="../../../../assets/12.png"/>
        </div>
    </div>

    <p>En 2017 sumamos Informe Departamental con el apoyo de municipios que ... la efectividad de un nuevo formato  ...</p>
    <p>En 2018 nos dedicamos de lleno a las producciones independientes (reitero el término, dejando totalmente la "comodidad" del sueldo, y ampliamos contenidos y nos expandimos en ventas). Hasta que nos sorprendió la pandemia en 2020 y nos hizo pisar el freno. </p> 
    <p>Tras algunos otros productos gestionados en 2021, en 2022 volvimos  a transmitir Vendimias Departamentales (Aire de Vendimia) en Radio Nihuil, dado que ya habíamos trabajado la década anterior en otras radios. </p>
    <p>Finalmente, este año aceleramos la ... de Radio Clásica, defendiendo las canciones que más nos gustan y que estan en nuestro chip eterno: Radio Clásica, que muy pronto estará on line</p>
</div>