.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.image-fija {
    background-image: url('../../../../assets/micro\ \(2\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 20em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.row {
    align-items: center;
}

.foto { 
    display: flex;
    justify-content: flex-end
}

h1, p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p{
    font-size: 18px;
    margin: 0;
    line-height: 1.5em;
}

h1 {
    font-style: italic;
    font-size: 30px;
    font-weight: bolder;
}

img {
    width: 24em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    margin: 1em;
}

.radio {
    width: 20em;
    height: 15em;
    border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
    h1 { 
        font-size: 25px;
    }
    
    p {
        font-size: 16px;
    }
}

