<div class=" image-fija">
    <h1>NUESTRA HISTORIA</h1>
</div>
<div class="container">
    <p>En 2007 arrancamos con nuestro primer producto independiente, Aire de Trabajo, en LV8 Radio Libertador Mendoza. A partir de allí dejamos la "comodidad" del ingreso fijo y comenzamos a salir a la calle, a gestar un producto propio y original. </p>  
    <p>Con el comienzo de la nueva década apostamos por otro producto original: las transmisiones de las Fiestas Departamentales de la Vendimia en radio, un desafío novedoso por lo que significa la oralidad en un espectáculo visual por definición. Comenzamos en Radio Libertador y proseguimos en Radio Noticias Mendoza.</p>
    <p>En 2017 sumamos Informe Departamental con el apoyo de municipios que apostaron por la efectividad de la información de servicio en un nuevo y práctico formato. </p>
    <p>En 2018 nos dedicamos de lleno a las producciones independientes, ya con el formato de Productores: ampliamos contenidos y nos expandimos en ventas a toda la provincia e incluso al ámbito nacional. </p> 
    <p>En 2020 nos sorprendió la pandemia en 2020 y nos hizo pisar el freno y repensar. Tras algunos otros productos gestionados en 2020/21: Mañana Total, en Radio Noticias; y La Deportiva Digital, un PDF semanal con toda la info deportiva de Mendoza, de distribución telefónica gratuita.</p>
    <p>En 2022 retomamos las transmisiones de las vendimias departamentales (Aire de Vendimia - Sentí Vendimia) en Radio Nihuil. </p>
    <p>En el mismo medio, en 2023 experimentamos en el horario nocturno con Hasta la medianoche (en verano) y Noche de radio (en el resto del año)</p>
    <p>Y finalmente, este año comenzamos a dar forma a Radio Clásica, recopilando las canciones que más nos gustan y que están en nuestro chip eterno. Muy pronto estará on line.</p>
</div>